h1 {
  color:#5F0070;
  }
p {
   color:#5F0070;
      
   }      
body {
  background-color:#FFF5C2;
}
nav{
  background-color:yellow;
  text-align:center ;
}    
h1 {
  font-family: 'Montserrat', sans-serif;
  }