.heading{
    color: red;
}
.paris{
    background-color: beige;
}
#london-heading{
    background-color: pink;
}
span{
    padding:0 5px;
    border-top: 2px solid black;
    border-bottom: 4px solid grey;
}

.parapraph-width-span{
    border:10px lightgreen ridge;
    margin: 5px;
}